<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- inject:css -->
    <!-- endinject -->
    <!-- build:sdk -->
    <!-- endbuild -->
</head>

<body>
    <div class="wrapper">
        <div class="chat">
            <div class="users">
                <div id="users"></div>
                <div id="users-menu"></div>
            </div>
            <div class="messages">
                <div class="messages__wrap">
                    <ul class="messages__list" id="messages-list"></ul>
                </div>
                <form class="messages__form" id="chat-form">
                    <input type="text" placeholder="Введите сообщение" class="messages__form-input">
                </form>
                <div id="messages-menu"></div>
            </div>
        </div>
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>