<div class="modal-menu">
    <div class="modal-menu__close"><i class="fas fa-times"></i></div>
    <ul class="modal-menu__list">
        {{#each menu}}
        <li class="modal-menu__item">
            <a href="{{link}}" class="modal-menu__link">{{text}}</a>
        </li>
        {{/each}}
    </ul>
</div>